@import "tailwindcss";

@theme {
  --color-disney-blue: #0063e5;
  --color-disney-dark: #0a0e27;
  --color-disney-gray: #14181f;
  --color-disney-light-gray: #c6c8ca;
  
  --font-family-disney: Avenir, sans-serif;
}

:root {
  font-family: 'Avenir', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
